/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
@font-face {
    font-family: "bluu_nexttitling";
    src: url('../fonts/BluuNext-Titling.ttf');

}

@font-face {
    font-family: "Sporting Grotesque";
    src: url('../fonts/Sporting_Grotesque-Regular_web.ttf');
}

@font-face {
    font-family: "bluu_nexttitling Bold";
    src: url('../fonts/bluunext-bold.ttf');
}

@font-face {
    font-family: "Dusha";
    src: url('../fonts/Dusha - FIFA World Cup 2018.ttf');
}


@font-face {
    font-family: "Millimetre";
    src: url('../fonts/Millimetre-Bold_web.ttf');
}
/*Acco*/
body{
  background: snow;
  overflow-y: none;
}

h1{
  font-family:"Sporting Grotesque";
  font-weight: 10;
  font-size: 0.75em;
}


h2 {
  font-family:"Sporting Grotesque";
  font-size: 3em;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke-width: 0.02em;
   -webkit-text-stroke-color: black;
}

h3{
  font: "times";
  font-size: 6pt;
  font-weight: 400;
}

@media screen and (min-width: 1200px) {
h3{
  font: "times";
  font-size: 0.55vw;
  font-weight: 400;
}
}

h4 {
  font-family: "bluu_nexttitling";
  font-size: 2.2em;
  line-height: 1;
  letter-spacing: -0.2vw;
}

@media screen and (min-width: 600px) {
h4 {
  font-family: "bluu_nexttitling";
  font-size: 2.75em;
  line-height: 1;
  letter-spacing: -1px;
}
}

h5 {
  font-family:"Millimetre";
  font-size: 125px;
}

@media screen and (max-width: 600px) {
h5 {
  font-family:"Millimetre";
  font-size: 90px;
}
}

h6 {
  font-family: "Sporting Grotesque";
  font-size: 10px;
  font-weight: 400;
}

h7 {
  font-family: "Dusha";
  font-size: 20px;

}

p {
  font-family: "Sporting Grotesque";
  font-size: 20px;
}


.sm-page-container {
  max-width: 210mm;
  height:237mm;
  margin: auto;
  overflow-y: hidden;
  box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.35);
  position: relative;
  overflow-x: hidden;

}

@media screen and (max-width: 600px) {
  .sm-page-container {
    max-width: 210mm;
    height:175mm;
    margin: auto;
    overflow-y: hidden;
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.35);
    position: relative;
    overflow-x: hidden;

  }
}

.edition-title{
  position: absolute;
  display: none;
  margin-left: 10px;
}

@media screen and (min-width: 600px) {
.edition-title{
  position: absolute;
  display: inline-block;
  margin-left: 10px;
}
}

.edition-title-right{
  position: absolute;
  display: inline-block;
  right: 5vw;
  top: -30px;
  margin-right: 20px;
  text-align: left;
  height: 50px
}

@media screen and (min-width: 600px) {
.edition-title-right{
  position: absolute;
  display: inline-block;
  right: 0.05vw;
  top: -30px;
  margin-right: 20px;
  text-align: left;
  height: 50px
}
}

.definition-container {
  width: 50%;
	position: relative;
  z-index: 21;
  display:inline-block;
  margin-left: 8.5%;
  margin-top: 0.50%;


}

.header-container{
  margin-left: 8.5%;
  width: auto;
  top:-5vh;
  height: auto;
	position: relative;
  z-index: 20;
  overflow: hidden;
  display: inline-block;
  margin-top: 0px;

}


.sm-header-right-container{
  transform: rotate(-90deg);
  position: relative;
  display: inline-block;
  z-index: 20;
  top: -900px;
  left:  510px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .sm-header-right-container{
    /* writing-mode: vertical-rl; */
    transform: rotate(-90deg);
    position: relative;
    display: none;
    z-index: 20;
    top: -830px;
    left:  510px;
    overflow: hidden;
  }
}

.sm-header-right-container-four{
  /* writing-mode: vertical-rl; */
  transform: rotate(-90deg);
  position: relative;
  display: inline-block;
  z-index: 20;
  top: -890px;
  left:  510px;
  overflow: hidden;
  height: 200px;
}

@media screen and (max-width: 600px) {
  .sm-header-right-container-four{
    /* writing-mode: vertical-rl; */
    transform: rotate(-90deg);
    position: relative;
    display: none;
    z-index: 20;
    top: -830px;
    left:  510px;
    overflow: hidden;
  }
}


.sm-header-right-container-one{
  /* writing-mode: vertical-rl; */
  transform: rotate(-90deg);
  position: relative;
  display: inline-block;
  z-index: 20;
  top: -830px;
  left:  530px;

}

@media screen and (max-width: 600px) {
  .sm-header-right-container-one{
    /* writing-mode: vertical-rl; */
    transform: rotate(-90deg);
    position: relative;
    display: none;
    z-index: 20;
    top: -770px;
    left:  530px;

  }
}

.sm-header-right-container-three{
  /* writing-mode: vertical-rl; */
  transform: rotate(-90deg);
  position: relative;
  display: inline-block;
  z-index: 20;
  top: -830px;
  left:  520px;

}

@media screen and (max-width: 600px) {
  .sm-header-right-container-three{
    /* writing-mode: vertical-rl; */
    transform: rotate(-90deg);
    position: relative;
    display: none;
    z-index: 20;
    top: -770px;
    left:  520px;

  }
}



.description {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: relative;
  display: inline-block;
  z-index: 30;
  top: -735px;
  left:  140px;
  height: 200px;

}

.description-one {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: relative;
  display: inline-block;
  z-index: 30;
  top: -700px;
  left:  185px;
  height: 200px;

}

.description-three {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;
  display: inline-block;
  z-index: 30;
  top: -684px;
  left:  160px;
  height: 200px;

}

@media screen and (max-width: 600px) {
.description {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: relative;
  display:  none;
  z-index: 30;
  top: -735px;
  left:  140px;
  height: 200px;

}

.description-one {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: relative;
  display:  none;
  z-index: 30;
  top: -700px;
  left:  185px;
  height: 200px;

}

.description-three {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;
  display:  none;
  z-index: 30;
  top: -684px;
  left:  160px;
  height: 200px;

}
}

@media screen and (max-width: 600px) {
  .signature{
    display: none;
  }
  .signature-jackson{
    display: none;
  }
  .signature-brittany{
    display: none;
  }
  .signature-tucci{
    display: none;
  }
}

.signature{
  position: relative;
  display: inline-block;
  top:-750px;
  left:-400px;
  z-index: 40;
}

.signature-jackson{
  position: relative;
  display: inline-block;
  top:-750px;
  left:-390px;
  z-index: 40;
  width: 200px;
}

.signature-spears{
  position: relative;
  display: inline-block;
  top:-730px;
  left:-300px;
  z-index: 40;
  width: 250px;
}
.signature-tucci{
  position: relative;
  display: inline-block;
  top:-725px;
  left:-380px;
  z-index: 40;

}

.name {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-840px;
  left: 275px;
  overflow: hidden;
}

.subname {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-815px;
  left:75px;
  text-overflow: clip;

}
@media screen and (max-width: 600px) {
  .name {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-1230px;
  left: 105px;
  overflow: hidden;
}
.subname {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-1205px;
  left:-75px;
  overflow: hidden;
}
}

.name-jackson {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-840px;
  left: 242px;
}

.subname-jackson {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-815px;
  left:-35px;
}

@media screen and (max-width: 600px) {
.name-jackson {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-1225px;
  left:75px;

}

.subname-jackson {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-1270px;
  left:70px;
}
}

.name-tucci {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-790px;
  left: 270px;
}

.subname-tucci {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-765px;
  left:70px;
}

@media screen and (max-width: 600px) {
.name-tucci {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-1235px;
  left:95px;
}

.subname-tucci {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-1210px;
  left:-70px;
}
}

.name-brittany {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-800px;
  left: 245px;
}

.subname-brittany {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-770px;
  left:-25px;
}

@media screen and (max-width: 600px) {
.name-brittany {
  position: relative;
  display: inline-block;
  z-index: 30;
  top:-1215px;
  left:80px;
}

.subname-brittany {
  position: relative;
  display: inline-block;
  z-index: 30;
  left:70px;
  top:-1260px;

}
}

.ac-container label {
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    height: 15mm;
}

.label-one{
  background: linear-gradient(to right, #E8B5D3 0%,#E8B5D3 50%,#000000 50%,#F7EC25 50%,#F7EC25 100%);
}

.label-two{
  background: linear-gradient(to right, #7DC242 0%,#7DC242 50%,#000000 50%,#4368B1 50%,#4368B1 100%);
}

.label-three{
  background: linear-gradient(to right, #E9282C 0%,#E9282C 50%,#000000 50%,#F47821 50%,#F47821 100%);
}

.label-four{
  background: linear-gradient(to right, #F7EC25 0%,#F7EC25 50%,#000000 50%,#4CB1E4 50%,#4CB1E4 100%);


}


.ac-container {
    width: 100%;
    overflow-x: none;
    box-sizing: border-box;

}

.ac-container input {
    display: none;
}

.ac-container article {
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    transition: height 0.3s ease-in-out,box-shadow 0.0s linear;


}

.ac-container article p {
    font-size: 10px;
    font: normal normal 12px 'Open Sans';

}

.ac-container input:checked ~ article {
    transition: height 0.3s ease-in-out,box-shadow 0.0s linear;
    height: auto;
    box-sizing: border-box;


}

.ac-container input:checked ~ article.ac-large {
    height: 177mm;
    overflow-y: scroll;
    overflow-x: hidden;
}


@media screen and (max-width: 600px) {
  .ac-container input:checked ~ article.ac-large {
      height: 115mm;
      overflow-y: scroll;
      overflow-x: hidden;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.inner{
  animation: rotation 5s infinite linear;
  position: relative;
  display: inline-block;
  z-index: 27;
  width: 85px;
  right: -195px;
  top:25px;
  float:right;
  overflow-x: none;

}

@media screen and (min-width: 1350px) {
.inner{
  animation: rotation 5s infinite linear;
  position: relative;
  display: inline-block;
  z-index: 27;
  width: 85px;
  right: -195px;
  top:25px;
  float:right;
  overflow-x: none;

}
}

@media screen and (max-width: 600px) {
.inner{
  animation: rotation 5s infinite linear;
  position: relative;
  display: inline-block;
  z-index: 27;
  width: 68px;
  right: -150px;
  top:365px;

}
}

@media screen and (min-width: 1350px) {
.outer{
  animation: rotation 10s infinite linear;
  animation-direction: reverse;
  position: relative;
  display: inline-block;
  z-index: 26;
  float: right;
  width: 250px;
  top: -60px;
  right: 20px;
  overflow-x: none;

}
}

.outer{
  animation: rotation 10s infinite linear;
  animation-direction: reverse;
  position: relative;
  display: inline-block;
  z-index: 26;
  float: right;
  width: 250px;
  top: -55px;
  right: -25px;
  overflow: hidden;

}

@media screen and (max-width: 600px) {
.outer{
  animation: rotation 10s infinite linear;
  animation-direction: reverse;
  position: relative;
  display: inline-block;
  z-index: 26;
  width: 200px;
  top: 300px;
  right: -15px;

}
}

.gif-one{
  top: -100px;
  z-index: 40;
  position: relative;
  display: inline-block;
  margin-top: 0px;
  margin-left: 11%;
  mix-blend-mode: multiply;
  width: 200px
  }

  @media screen and (max-width: 600px) {
    .gif-one{
      top: -145px;
      z-index; 30;
      position: relative;
      display: inline-block;
      margin-top: 0px;
      margin-left: 8.5%;
      mix-blend-mode: multiply;
      width: 120px
      }
  }


.gif-two{
  top: -100px;
  z-index: 40;
  position: relative;
  display: inline-block;
  margin-top: 0px;
  margin-left: 11%;
  mix-blend-mode: multiply;
  width: 250px
  }

  @media screen and (max-width: 600px) {
    .gif-two{
      top: -145px;
      z-index; 30;
      position: relative;
      display: inline-block;
      margin-top: 0px;
      margin-left: 8.5%;
      mix-blend-mode: multiply;
      width: 150px
      }
  }


.gif-three{
  top: -100px;
  z-index:40;
  position: relative;
  display: inline-block;
  margin-top: 0px;
  margin-left: 11%;
  mix-blend-mode: multiply;
  width: 200px;
  }

  @media screen and (max-width: 600px) {
    .gif-three{
      top: -140px;
      z-index; 30;
      position: relative;
      display: inline-block;
      margin-top: 0px;
      margin-left: 8.5%;
      mix-blend-mode: multiply;
      width: 150px
      }
  }


.gif-four{
  top: -175px;
  z-index: 35;
  position: relative;
  display: inline-block;
  margin-top: 0px;
  margin-left: 8.5%;
  width: 250px
  }

  @media screen and (max-width: 600px) {
    .gif-four{
      top: -175px;
      z-index: 35;
      position: relative;
      display: inline-block;
      margin-top: 0px;
      margin-left: 8.5%;
      width: 150px;
      }
  }

  .image{
    z-index: 25;
    position: relative;
    display: inline-block;
    width: 300px;
    top: -300px;
    left: 31%;
    margin-left: 0px;
    overflow-x: none;

  }

  /* .image2{
    z-index: 29;
    position: absolute;
    display: inline-block;
    width: 300px;
    top: 206px;
    left: 31%;
    margin-left: 0px;
    overflow-x: none;

  } */

  .imagethree{
    z-index: 25;
    position: relative;
    display: inline-block;
    width: 300px;
    top: -250px;
    left: 31%;
    margin-left: 0px;
    overflow-x: none;

  }

  @media screen and (max-width: 600px) {
    .imagethree{
      z-index: 25;
      position: relative;
      display: inline-block;
      width: 300px;
      top: -250px;
      left: 12.5%;
      margin-left: 0px;
      overflow-x: none;

    }
  }

  .imageone{
    z-index: 25;
    position: relative;
    display: inline-block;
    width: 300px;
    top: -265px;
    left: 31%;
    margin-left: 0px;
    overflow-x: none;

  }

  @media screen and (max-width: 600px) {
    .imageone{
      z-index: 25;
      position: relative;
      display: inline-block;
      width: 300px;
      top: -250px;
      left: 12.5%;
      margin-left: 0px;
      overflow-x: none;

    }
  }



  @media screen and (max-width: 600px) {
    .image{
      z-index: 25;
      position: relative;
      display: inline-block;
      width: 300px;
      top: -250px;
      left: 12.5%;
      margin-left: 0px;
    }
  }

  .rectangle-small-one {
    background-color: #E8B5D3;
    /* background-color: black; */
    position: relative;
    display: inline-block;
    z-index: 28;
    opacity: 0.45;
    top:  -687px;
    height: 433px;
    left: 12%;
    width: 151px;
    overflow-x: none;
  }

  .rectangle-small-right-one {
    background-color: #F7EC25;
    /* background-color: red; */
    position: relative;
    display: inline-block;
    z-index: 25;
    opacity: 0.45;
    top:  -687px;
    height: 433px;
    left: 11%;
    width: 151px;
    overflow-x: none;
  }

  @media screen and (min-width: 600px) {
    .rectangle-small-one {
      background-color: #E8B5D3;
      /* background-color: black; */
      position: relative;
      display: inline-block;
      z-index: 34;
      opacity: 0.45;
      top:  -265px;
      height: 433px;
      left: -58px;
      width: 151px;
      overflow-x: none;
    }

    .rectangle-small-right-one {
      background-color: #F7EC25;
      /* background-color: red; */
      position: relative;
      display: inline-block;
      z-index: 34;
      opacity: 0.45;
      top:  -265px;
      height: 433px;
      left: -62px;
      width: 150px;
      overflow-x: none;
    }
  }


  .rectangle-small-two {
    background-color: #7DC242;
    /* background-color: black; */
    position: relative;
    display: inline-block;
    z-index: 28;
    opacity: 0.45;
    top:  -687px;
    height: 433px;
    left: 12%;
    width: 151px;
    overflow-x: none;
  }

  .rectangle-small-right-two {
    background-color: #4368B1;
    /* background-color: red; */
    position: relative;
    display: inline-block;
    z-index: 25;
    opacity: 0.45;
    top:  -687px;
    height: 433px;
    left: 11%;
    width: 151px;
    overflow-x: none;
  }

  @media screen and (min-width: 600px) {
    .rectangle-small-two {
      background-color: #7DC242;
      /* background-color: black; */
      position: relative;
      display: inline-block;
      z-index: 34;
      opacity: 0.45;
      top:  -300px;
      height: 433px;
      left: -58px;
      width: 151px;
      overflow-x: none;
    }

    .rectangle-small-right-two {
      background-color: #4368B1;
      /* background-color: red; */
      position: relative;
      display: inline-block;
      z-index: 34;
      opacity: 0.45;
      top:  -300px;
      height: 433px;
      left: -62px;
      width: 150px;
      overflow-x: none;
    }
  }

  .rectangle-small-three {
    background-color: #E9282C;
    /* background-color: black; */
    position: relative;
    display: inline-block;
    z-index: 28;
    opacity: 0.45;
    top:  -687px;
    height: 433px;
    left: 12%;
    width: 151px;
    overflow-x: none;
  }

  .rectangle-small-right-three {
    background-color: #F47821;
    /* background-color: red; */
    position: relative;
    display: inline-block;
    z-index: 25;
    opacity: 0.45;
    top:  -687px;
    height: 433px;
    left: 11%;
    width: 151px;
    overflow-x: none;
  }

  @media screen and (min-width: 600px) {
    .rectangle-small-three {
      background-color: #E9282C;
      /* background-color: black; */
      position: relative;
      display: inline-block;
      z-index: 34;
      opacity: 0.45;
      top:  -250px;
      height: 433px;
      left: -58px;
      width: 151px;
      overflow-x: none;
    }

    .rectangle-small-right-three {
      background-color: #F47821;
      /* background-color: red; */
      position: relative;
      display: inline-block;
      z-index: 34;
      opacity: 0.45;
      top:  -250px;
      height: 433px;
      left: -62px;
      width: 150px;
      overflow-x: none;
    }
  }




  .rectangle-small-four {
    background-color: #f7ec25;
    /* background-color: black; */
    position: relative;
    display: inline-block;
    z-index: 28;
    opacity: 0.45;
    top:  -687px;
    height: 433px;
    left: 12%;
    width: 151px;
    overflow-x: none;
    pointer-events: none;
  }

  .rectangle-small-right-four {
    background-color: #4bb1e4;
    /* background-color: red; */
    position: relative;
    display: inline-block;
    z-index: 25;
    opacity: 0.45;
    top:  -687px;
    height: 433px;
    left: 11%;
    width: 151px;
    overflow-x: none;
    pointer-events: none;
  }

  @media screen and (min-width: 600px) {
    .rectangle-small-four {
      background-color: #f7ec25;
      /* background-color: black; */
      position: relative;
      display: inline-block;
      z-index: 34;
      opacity: 0.45;
      top:  -300px;
      height: 433px;
      left: -58px;
      width: 151px;
      overflow-x: none;
    }

    .rectangle-small-right-four {
      background-color: #4bb1e4;
      /* background-color: red; */
      position: relative;
      display: inline-block;
      z-index: 34;
      opacity: 0.45;
      top:  -300px;
      height: 433px;
      left: -62px;
      width: 150px;
      overflow-x: none;
    }
  }

  /* .rectangle-small-right {
    background-color: #4bb1e4;
    position: relative;
    display: inline-block;
    z-index: 30;
    opacity: 0.45;
  } */



.page-container-one{
  background: linear-gradient(to right, #E8B5D3 0%,#E8B5D3 50%,#000000 50%,#F7EC25 50%,#F7EC25 100%);
}

.page-container-two{
    background: linear-gradient(to right, #7DC242 0%,#7DC242 50%,#000000 50%,#4368B1 50%,#4368B1 100%);
}

.page-container-three{
  background: linear-gradient(to right, #E9282C 0%,#E9282C 50%,#000000 50%,#F47821 50%,#F47821 100%);
}

.page-container-four{
  background: linear-gradient(to right, #F7EC25 0%,#F7EC25 50%,#000000 50%,#4CB1E4 50%,#4CB1E4 100%);
}





.left-rectangle-one{
  width: 50%;
  height: 297mm;
  background-color: #E8B5D3;
  position: relative;
  display: inline-block;
}

.right-rectangle-one{
  float: right;
  width: 50%;
  height: 297mm;
  background-color: #F7EC25;
  display: inline-block;
}

.left-rectangle-two{
  width: 50%;
  height: 297mm;
  background-color: #7DC242;
  position: relative;
  display: inline-block;
}

.right-rectangle-two{
  float: right;
  width: 50%;
  height: 297mm;
  background-color: #4368B1;
  display: inline-block;
}

.left-rectangle-three{
  width: 50%;
  height: 297mm;
  background-color: #E9282C;
  position: relative;
  display: inline-block;
}

.right-rectangle-three{
  float: right;
  width: 50%;
  height: 297mm;
  background-color: #F47821;
  display: inline-block;
}

.left-rectangle-four{
  width: 50%;
  height: 297mm;
  background-color: #F7EC25;
  position: relative;
  display: inline-block;
}

.right-rectangle-four{
  float: right;
  width: 50%;
  height: 297mm;
  background-color: #4CB1E4;
  display: inline-block;
}

.arrow-left-four {
  position: relative;
  display: inline-block;
  z-index: 45;
  color: #4CB1E4;
  top:-500px;
  left: -405px;
}

.arrow-right-four {
  position: relative;
  display: inline-block;
  z-index: 45;
  color: #F7EC25;
  top:-500px;
  left: -167px;
}

.arrow-left-three {
  position: relative;
  display: inline-block;
  z-index: 45;
  color: #F47821;
  top:-450px;
  left: -405px;
}

.arrow-right-three {
  position: relative;
  display: inline-block;
  z-index: 45;
  color: #E9282C;
  top:-450px;
  left: -167px;
}

.arrow-left-two {
  position: relative;
  display: inline-block;
  z-index: 45;
  color: #4368B1;
  top:-500px;
  left: -405px;
}

.arrow-right-two {
  position: relative;
  display: inline-block;
  z-index: 45;
  color: #7DC242;
  top:-500px;
  left: -167px;
}


.arrow-left-one {
  position: relative;
  display: inline-block;
  z-index: 45;
  color: #F7EC25;
  top:-450px;
  left: -405px;
}

.arrow-right-one {
  position: relative;
  display: inline-block;
  z-index: 45;
  color: #E8B5D3;
  top:-450px;
  left: -167px;
}


@media screen and (max-width: 600px) {
  .arrow-right-four {
    position: relative;
    display: inline-block;
    z-index: 45;
    color: #F7EC25;
    top:-1287px;
    left: 320px;
  }
    .arrow-left-four {
    position: relative;
    display: inline-block;
    z-index: 46;
    color: #4CB1E4;
    left:-281px;
    top:-888px;
    overflow: visible;
  }

  .arrow-left-one {
    position: relative;
    display: inline-block;
    z-index: 45;
    color: #F7EC25;
    top:-888px;
    left: -281px;
  }

  .arrow-right-one {
    position: relative;
    display: inline-block;
    z-index: 45;
    color: #E8B5D3;
    top:-1287px;
    left: 320px;
  }

    .arrow-left-two {
      position: relative;
      display: inline-block;
      z-index: 45;
      color: #4368B1;
      top:-888px;
      left: -281px;
    }

    .arrow-right-two {
      position: relative;
      display: inline-block;
      z-index: 45;
      color: #7DC242;
      top:-1287px;
      left: 320px;
  }

  .arrow-left-three {
    position: relative;
    display: inline-block;
    z-index: 45;
    color: #F47821;
    top:-888px;
    left: -281px;
  }


  .arrow-right-three {
    position: relative;
    display: inline-block;
    z-index: 45;
    color: #E9282C;
    top:-1287px;
    left: 320px;
  }
}

.text {
  position: absolute;
  display: inline-block;
  z-inde:40;
  left:  8.5%;
  width: 83%;
  top:750px;
  padding: 0px;

}

.video-four{
  top: 1625px;
  left: 70px;
  height: 500px;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .video-four{
    top: 2625px;
    left: 32px;
    height: 250px;
    position: absolute;
    padding-bottom: 100px;
  }
}

.video-two{
  top: 1575px;
  left: 70px;
  height: 500px;
  position: absolute;
}



.video-one{
  top: 1525px;
  left: 70px;
  height: 500px;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .video-two{
    top: 2550px;
    left: 32px;
    height: 250px;
    position: absolute;
    padding-bottom: 100px;
  }
  .video-one{
    top: 2550px;
    left: 32px;
    height: 250px;
    position: absolute;
  }
}


.gif-four-lower{
  position: absolute;
  top: 1990px;
  left: 525px;
  mix-blend-mode: multiply;
  width: 250px;
  z-index: 40;
  pointer-events: none;
}

.gif-one-lower{
  position: absolute;
  top: 1890px;
  left: 525px;
  mix-blend-mode: multiply;
  width: 300px;
  z-index: 40;
  pointer-events: none;
}

.gif-two-lower{
  position: absolute;
  top: 1970px;
  left: 525px;
  mix-blend-mode: multiply;
  width: 250px;
  z-index: 40;
  pointer-events: none;
  padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .gif-four-lower{
    position: absolute;
    top: 2775px;
    left: 185px;
    mix-blend-mode: multiply;
    width: 200px;
    z-index: 40;
    pointer-events: none;
  }

  .gif-one-lower{
    position: absolute;
    top: 2750px;
    left: 220px;
    mix-blend-mode: multiply;
    width: 200px;
    z-index: 40;
    pointer-events: none;
  }

  .gif-two-lower{
    position: absolute;
    top: 2730px;
    left: 220px;
    mix-blend-mode: multiply;
    width: 200px;
    z-index: 40;
    pointer-events: none;
    padding-bottom: 20px;
  }
}


.rectangle-small-four-video {
  background-color: #f7ec25;
  /* background-color: black; */
  position: absolute;
  display: inline-block;
  z-index: 28;
  opacity: 0.45;
  top:  1625px;
  height: 500px;
  left: 0%;
  width: 50%;
  overflow-x: none;
  pointer-events: none;
}

.rectangle-small-right-four-video {
  background-color: #4bb1e4;
  /* background-color: red; */
  position: absolute;
  display: inline-block;
  z-index: 25;
  opacity: 0.45;
  top:  1625px;
  height: 500px;
  left: 50%;
  width: 50%;
  overflow-x: none;
  pointer-events: none;
}

.rectangle-small-one-video {
  background-color: #E8B5D3;
  /* background-color: black; */
  position: absolute;
  display: inline-block;
  z-index: 28;
  opacity: 0.45;
  top:  1525px;
  height: 600px;
  left: 0%;
  width: 50%;
  overflow-x: none;
  pointer-events: none;
}

.rectangle-small-right-one-video {
  background-color: #f7ec25;
  /* background-color: red; */
  position: absolute;
  display: inline-block;
  z-index: 25;
  opacity: 0.45;
  top:  1525px;
  height: 600px;
  left: 50%;
  width: 50%;
  overflow-x: none;
  pointer-events: none;
}

.button-container{
  position: absolute;
  top:  1590px;
  left: 8.5%;
  height: 25px;
  width: auto;

}

.button-container-one{
  position: absolute;
  top:  1490px;
  left: 8.5%;
  height: 25px;
  width: auto;

}

.button-four{
  border: none;
  text-decoration: none;
  background: none;
  font-size: 20px;
  color: #4bb1e4;
}

.button-one{
  border: none;
  text-decoration: none;
  background: none;
  font-size: 20px;
  color: #f7ec25;
}

.button-two{
  border: none;
  text-decoration: none;
  background: none;
  font-size: 20px;
  color: #4368B1;
}

.button-container-two{
  position: absolute;
  top:  1540px;
  left: 8.5%;
  height: 25px;
  width: auto;
}

@media screen and (max-width: 600px) {
  .button-container-two{
    position: absolute;
    top:  2500px;
    left: 8.5%;
    height: 25px;
    width: auto;
    z-index: 40;
  }
  .button-container-one{
    position: absolute;
    top:  2500px;
    left: 8.5%;
    height: 25px;
    width: auto;
    z-index: 40;
  }
  .button-container{
    position: absolute;
    top:  2575px;
    left: 8.5%;
    height: 25px;
    width: auto;
    z-index:  40;
  }
}

.rectangle-small-two-video {
  background-color: #7DC242;
  /* background-color: black; */
  position: absolute;
  display: inline-block;
  z-index: 28;
  opacity: 0.45;
  top:  1575px;
  height: 500px;
  left: 0%;
  width: 50%;
  overflow-x: none;
  pointer-events: none;
}

.rectangle-small-right-two-video {
  background-color: #4368B1;
  /* background-color: red; */
  position: absolute;
  display: inline-block;
  z-index: 25;
  opacity: 0.45;
  top:  1575px;
  height: 500px;
  left: 50%;
  width: 50%;
  overflow-x: none;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .rectangle-small-four-video {
    background-color: #f7ec25;
    /* background-color: black; */
    position: absolute;
    display: inline-block;
    z-index: 28;
    opacity: 0.45;
    top:  2500px;
    height: 500px;
    left: 0%;
    width: 50%;
    overflow-x: none;
    pointer-events: none;
  }

  .rectangle-small-right-four-video {
    background-color: #4bb1e4;
    /* background-color: red; */
    position: absolute;
    display: inline-block;
    z-index: 25;
    opacity: 0.45;
    top:  2500px;
    height: 500px;
    left: 50%;
    width: 50%;
    overflow-x: none;
    pointer-events: none;
  }

  .rectangle-small-one-video {
    background-color: #E8B5D3;
    /* background-color: black; */
    position: absolute;
    display: inline-block;
    z-index: 28;
    opacity: 0.45;
    top:  2400px;
    height: 520px;
    left: 0%;
    width: 50%;
    overflow-x: none;
    pointer-events: none;
  }

  .rectangle-small-right-one-video {
    background-color: #f7ec25;
    /* background-color: red; */
    position: absolute;
    display: inline-block;
    z-index: 25;
    opacity: 0.45;
    top:  2400px;
    height: 520px;
    left: 50%;
    width: 50%;
    overflow-x: none;
    pointer-events: none;
  }

  .rectangle-small-two-video {
    background-color: #7DC242;
    /* background-color: black; */
    position: absolute;
    display: inline-block;
    z-index: 28;
    opacity: 0.45;
    top:  2400px;
    height: 500px;
    left: 0%;
    width: 50%;
    overflow-x: none;
    pointer-events: none;
  }

  .rectangle-small-right-two-video {
    background-color: #4368B1;
    /* background-color: red; */
    position: absolute;
    display: inline-block;
    z-index: 25;
    opacity: 0.45;
    top:  2400px;
    height: 500px;
    left: 50%;
    width: 50%;
    overflow-x: none;
    pointer-events: none;
  }
}


button{
  background: none;
  border: none;
  outline: none;

}

button:active{
  color: white;
  outline: none;
}
/*

.arrow-right {
  position: relative;
  display: inline-block;
  z-index: 45;
  color: #f7ec25;
  color:  red;
  top:-600px;
} */



/* ::-webkit-scrollbar {
    display: none;
}
